body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: black;
  background-image: url("/assets/images/background.jpg");
  background-size: 100%;
  font-family: consolas;
}

a {
  position: relative;
  display: inline-block;
  padding: 15px 30px;
  color: #18e63b;
  text-transform: lowercase;
  letter-spacing: 4px;
  text-decoration: none;
  font-size: 34px;
  transition: 0.1s;
  width: auto;
  height: auto;
  text-align: center;
}

a:hover {
  color: black;
  background: #23dd0a;
  box-shadow: 0 0 40px #04034f, 0 0 40px #180365, 0 0 80px #190368;
  transition-delay: 1s;
}

a span {
  position: absolute;
  display: block;
  transition: 1s;
}

a span:nth-child(1) {
  top: 0;
  left: -130%;
  width: 130%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #18e63b);
  transition: 1s;
}

a:hover span:nth-child(1) {
  left: 130%;
  transition: 1s;
}

a span:nth-child(3) {
  bottom: 0;
  right: -130%;
  width: 130%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #18e63b);
  transition: 1s;
}

a:hover span:nth-child(3) {
  right: 130%;
  transition: 1s;
  transition-delay: 0.5s;
}

a span:nth-child(2) {
  top: -130%;
  right: 0;
  width: 2px;
  height: 130%;
  background: linear-gradient(180deg, transparent, #18e63b);
  transition: 1s;
}

a:hover span:nth-child(2) {
  top: 130%;
  transition: 1s;
  transition-delay: 0.25s;
}

a span:nth-child(4) {
  bottom: -130%;
  left: 0;
  width: 2px;
  height: 130%;
  background: linear-gradient(360deg, transparent, #18e63b);
  transition: 1s;
}

a:hover span:nth-child(4) {
  bottom: 130%;
  transition: 1s;
  transition-delay: 0.75s;
}

.background {
  box-sizing: border-box;
  position: relative;
  display: inline-block;
  padding: 90px 90px;
  position: fixed;
}

footer {
  color: #0b9322;
  font-family: var(--work-sans);
  font-weight: 300;
  font-size: 18px;
  text-align: center;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  transition: 1s;
}

@media screen and (max-width: 992px) {
  .background {
    box-sizing: border-box;
    position: relative;
    display: inline-block;

    position: fixed;
  }

  body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: black;
    background-image: url("/assets/images/background2.jpg");
    background-size: 110%;
    background-repeat: no-repeat;
    font-family: consolas;
  }

  a {
    font-size: 24px;
    text-align: center;
    width: 100%;
    height: 100%;
  }

  .position-absolute {
    top: 10%;
    margin-right: 30%;
  }

  .card {
    width: 7rem !important;
  }

  .card-img-top {
    height: 5rem !important;
  }

  .card-body {
    height: 3rem;
    padding: 0%;
    margin-top: 7%;
  }

  .card-title {
    font-size: 80%;
  }

  .btn-primary {
    content: "join";
    margin-top: 0;
    font-size: 80%;
    background-color: #23dd0a;
    color: black;
  }

  .btn {
    height: 1.4rem;
    width: 4.2rem;
    margin-bottom: 30%;
    padding: 0%;
  }

  .btn:hover {
    color: black;
  }
}

@media screen and (max-width: 768px) {
  .background {
    box-sizing: border-box;
    position: relative;
    display: inline-block;
    position: fixed;
  }

  body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: black;
    background-image: url("/assets/images/background2.jpg");
    background-size: 110%;
    background-repeat: no-repeat;
    font-family: consolas;
  }

  a {
    font-size: 20px;
    text-align: center;
    width: 100%;
    height: 100%;
  }

  footer {
    font-size: 14px;
  }

  .position-absolute {
    top: 10%;
    margin-right: 30%;
  }

  .card {
    width: 7rem !important;
  }

  .card-img-top {
    height: 5rem !important;
  }

  .card-body {
    height: 3rem;
    padding: 0%;
    margin-top: 7%;
  }

  .card-title {
    font-size: 80%;
  }

  .btn-primary {
    content: "join";
    margin-top: 0;
    font-size: 80%;
    background-color: #23dd0a;
    color: black;
  }

  .btn {
    height: 1.4rem;
    width: 4.2rem;
    margin-bottom: 30%;
    padding: 0%;
  }

  .btn:hover {
    color: black;
  }
}

@media screen and (max-width: 412px) {
  .background {
    box-sizing: border-box;
    position: relative;
    display: inline-block;
    position: fixed;
  }

  body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: black;
    background-image: url("/assets/images/background2.jpg");
    background-size: 110%;
    background-repeat: no-repeat;
    font-family: consolas;
  }

  a {
    font-size: 20px;
    text-align: center;
    width: 100%;
    height: 100%;
  }

  footer {
    font-size: 14px;
  }

  .position-absolute {
    top: 10%;
    margin-right: 30%;
  }

  .card {
    width: 7rem !important;
  }

  .card-img-top {
    height: 5rem !important;
  }

  .card-body {
    height: 3rem;
    padding: 0%;
    margin-top: 7%;
  }

  .card-title {
    font-size: 80%;
  }

  .btn-primary {
    content: "join";
    margin-top: 0;
    font-size: 80%;
    background-color: #23dd0a;
    color: black;
  }

  .btn {
    height: 1.4rem;
    width: 4.2rem;
    margin-bottom: 30%;
    padding: 0%;
  }

  .btn:hover {
    color: black;
  }
}

.position-absolute {
  margin-bottom: 5%;
  margin-right: 20%;
}

.card-img-top {
  height: 14rem;
}

.card-body {
  text-align: center;
}

.btn-primary {
  background-color: #23dd0a;
  color: black;
}
